@charset "UTF-8";

html{
  font-size: 100%;
  scroll-behavior: smooth;
}

body{
  color: #272726;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans', Meiryo, sans-serif;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
}

a{
  text-decoration: none;
  color: #272726;
}

img{
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.wrapper{
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: solid;
}

li{
  list-style: none;
}


/* HEADER */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e7e8ea;
}

.site-title{
  line-height: 1px;
}

.site-title a{
  display: block;
}

.header__btn{
  display: inline-block;
  background-color: #fff;
  border: 1px solid #707070;
  padding: 6px 20px;
  border-radius: 30px;
  font-size: 0.75rem;
  letter-spacing: .1em;
}

/* TOP */

.top{
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #e7e8ea;
  position: relative;
}

.top__title{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

.top__text{
  padding-left: 10px;
  border-left: 1px solid #272726;
  letter-spacing: .1em;
  font-size: 1.125rem;
  position: absolute;
  top: 150px;
  z-index: 2;
}

.top__img{
  margin-top: 50px;
  transform: translateX(20px);
}

.top__btn{
  margin-top: 20px;
}

.list__btn{
  display: flex;
  justify-content: space-between;
}

.apple{
  width: 47%;
}

.apple a{
  display: flex;
  align-items: center;
  background-color: #0e0e0e;
  color: #fff;
  padding: 10px 16px;
  font-size: 0.75rem;
  border: 1px solid #707070;
  border-radius: 15px;
}

.fa-apple{
  font-size: 1.25rem;
  margin-right: 10px;
}

.apple__text{
  text-align: left;
  text-transform: capitalize;
}

.apple__text span{
  font-size: 1rem;
}
.google{
  width: 47%;
}

.google a{
  display: flex;
  align-items: center;
  background-color: #0e0e0e;
  color: #fff;
  padding: 10px 16px;
  font-size: 0.75rem;
  border: 1px solid #707070;
  border-radius: 15px;
}

.fa-google-play{
  font-size: 1.25rem;
  margin-right: 10px;
}

.google__text{
  text-align: left;
  text-transform: capitalize;
}

.google__text span{
  font-size: 1rem;
}

/* SUGGESTION */

.suggestion__top{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestion__title{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}

.suggestion__content{
  padding-left: 0;
  padding-right: 0;
  position: relative;
  background-color: #efefef;
  padding-top: 105px;
}

.suggestion__content__list{
  position: absolute;
  top: 30px;
  left: 15px;
}

.suggestion__content__list li{
  background-color: #fff;
  padding: 10px 20px;
  width: fit-content;
  outline: solid 1px #272726;
  border-radius: 30px;
}

.suggestion__content__list li:first-of-type{
  margin-left: 25px;
}

.suggestion__content__list li:nth-of-type(2){
  margin-top: 20px;
  margin-left: 65px;
}

.suggestion__content__list li:last-of-type{
  margin-top: 20px;
}

/* FEATURE */

.feature{
  margin-top: 40px;
}

.feature__title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.feature__title::before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 32px;
  left: 14px;
  width: 50px;
  height: 6px;
  background-color: #272726;
  border-radius: 10px 0px 0px 10px;
}

.feature__title::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 32px;
  right: 14px;
  width: 50px;
  height: 6px;
  background-color: #272726;
  border-radius: 0px 10px 10px 0px;
}

.feature__description{
  margin-top: 40px;
  text-align: center;
}

.feature__list{
  margin-top: 40px;
}

.feature__list li{
  margin-top: 60px;
  position: relative;
  overflow-x: hidden;
}

.feature__list li:first-of-type{
  margin-top: 0px;
}

.feature__list__title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #f9b774;
}

.feature__list__title-second{
  background-color: #c6e8ba;

}

.feature__list__title-third{
  background-color: #f3bfd6;
}

.feature__list__title img{
  width: 26px;
  height: 41px;
}

.feature__list__title span{
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 30px;
}

.feature__list__text{
  margin-top: 20px;
  font-size: 0.875rem;
  line-height: 1.8;
}

.feature__list__img{
  margin-top: 20px;
  text-align: center;
}

.feature__list__img img{
  width: 350px;
  height: 217px;
}

.feature__list__img-second img{
  width: 250px;
  height: 280px;
}

.feature__list__img-third img{
  width: 230px;
  height: 277px;
}

.feature__list__triangle{
  width: 450px;
  height: 182px;
  background-color: #f9b774;
  filter: opacity(50%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.feature__list__triangle-second{
  background-color: #c6e8ba;
  height: 203px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  left: 0;
}

.feature__list__triangle-third{
  background-color: #f3bfd6;
  height: 209px;
}

.feature__download{
  margin-top: 50px;
}

.feature__download__title{
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
}

.feature__download__title::after{
  content: attr(data-en);
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: uppercase;
}

.feature__download__list{
  margin-top: 30px;
}

/* CASE */

.case{
  margin-top: 50px;
}

.case__title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.case__title::before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 32px;
  left: 14px;
  width: 50px;
  height: 6px;
  background-color: #272726;
  border-radius: 10px 0px 0px 10px;
}

.case__title::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 32px;
  right: 14px;
  width: 50px;
  height: 6px;
  background-color: #272726;
  border-radius: 0px 10px 10px 0px;
}

.case__list{
  margin-top: 40px;
}

.case__list li{
  margin-top: 60px;
  text-align: center;
}

.case__list li:first-of-type{
  margin-top: 0;
}

.case__list__number{
  font-weight: bold;
  background-color: #272726;
  color: #fff;
  display: inline-block;
  padding: 6px 10px;
}

.case__list__title{
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: bold;
}

.case__list__img{
  margin-top: 20px;
}

.case__list__img img{
  height: 253px;
  border: 2px solid #fff;
  border-radius: 20px;
}

.case__list__text{
  margin-top: 20px;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.8;
}

.case__list__btn{
  margin: 0 0 0 auto;
  margin-top: 20px;
  width: fit-content;
  display: block;
  background-color: #fff;
  border: 1px solid #272726;
  border-radius: 30px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: capitalize;
  padding: 9px 38px 9px 17px;
  position: relative;
}

.fa-plus{
  margin-left: 13px;
  font-size: 1.25rem;
  position: absolute;
  top: 5px;
  right: 8px;
}


/* RECOMMEND */